@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

.container {
    height: 100%;
    min-height: 100%;
    display: flex;
}

.left-section {
    min-width: 500px;
    background-color: rgba(255, 202, 132, 255);
}

.right-section {
    background-color: white;
    flex-grow: 1;
}