@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  min-height: 100%;
  display: flex;
}

.left-section {
  color: #876018;
  padding: 60px;
  min-width: 500px;
  background-color: #f3d185;
}

.right-section {
  width: max-content;
  background-color: white;
  flex-grow: 1;
}

.header {
  text-align: end;
  padding: 25px;
  font-size: medium;
}

.third-p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.Sign {
  text-align: center;
  font-size: larger;
}

.separator {
  display: flex;
  align-items: center;
}

.separator h2 {
  padding: 0 1rem;
}

.separator .line {
  flex: 1;
  height: 3px;
  background-color: gray;
}

.sign-up-form {
  margin-top: 70px;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 50px;
  grid-column-gap: 0;
  align-items: center;
}

.form {
  place-self: center;
}

.button {
  place-self: center;
  grid-column: 1 / 3;
}
